In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [3]:
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"

In [4]:
column_names = ["MPG", "Cylinders", "Displacement", "Horsepower", "Weight", "Acceleration", "Model Year", "Origin"]

In [5]:
df = pd.read_csv(url, names=column_names, sep=" ", na_values="?", comment="\t", skipinitialspace=True)

In [6]:
df.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [7]:
df.isna().sum()

MPG             0
Cylinders       0
Displacement    0
Horsepower      6
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

In [8]:
df = df.dropna()

In [9]:
df["Origin"] = df["Origin"].map({1: "USA", 2: "Europe", 3: "Japan"})

In [10]:
df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,USA
1,15.0,8,350.0,165.0,3693.0,11.5,70,USA
2,18.0,8,318.0,150.0,3436.0,11.0,70,USA
3,16.0,8,304.0,150.0,3433.0,12.0,70,USA
4,17.0,8,302.0,140.0,3449.0,10.5,70,USA

In [11]:
df = pd.get_dummies(df, columns=["Origin"], prefix=" ", prefix_sep=" ")

In [12]:
df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Europe,Japan,USA
0,18.0,8,307.0,130.0,3504.0,12.0,70,0,0,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,0,0,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,0,0,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,0,0,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,0,0,1

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
target = "MPG"
features = df.drop(columns=target).columns

In [18]:
x, y = df[features].values, df[target].values

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [22]:
len(features)

9

In [23]:
normalizer = layers.Normalization(axis=1)

In [24]:
normalizer.adapt(x_train)

In [29]:
model = tf.keras.Sequential([
    normalizer,
    layers.Dense(units=9)
])

In [30]:
model.compile(
    optimizer = tf.optimizers.Adam(learning_rate=0.1),
    loss = "mean_absolute_error"
)

In [34]:
history = model.fit(x_train, y_train, epochs=99, verbose=0, validation_split=0.2)